.container {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}

@media only screen and (max-width: 815px) {
  .container {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 390px) {
  .container {
    justify-content: center;
    margin-right: 0;
  }
  .container a {
    display: none;
  }
  .icon {
    display: none;
  }
}
