.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 1rem;
  width: 800px;
}

@media screen and (max-width: 400px) {
  .container {
    justify-content: center;
    height: 58px;
    padding: 0.5rem;
  }
  .container .icon {
    display: none;
  }
  .container a {
    display: none;
  }
}
