.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d8dee4;
  height: 50px;
}

a {
  padding: 8px 16px;
  color: black;
}

a.active {
  color: #40a9ff;
  padding-top: 14px;
  padding-bottom: 12px;
  border-bottom: 2px solid #40a9ff;
}

.icon {
  padding: 2px;
}
